.gridContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
}

    @media (min-width: 640px) {

        /* Small (sm) */
        .gridContainer {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (min-width: 768px) {

        /* Medium (md) */
        .gridContainer {
            grid-template-columns: repeat(3, 1fr);
        }
    }